*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(73, 168, 187);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Header styling start */

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

#logo-div{
  display: flex;
  flex-direction: row;
}

#logo{
  width: 50px;
  height: 50px;
}

#git-logo{
  align-items: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

#credit{
  margin-bottom: 20px;
}
/* Header styling end */
.playing-field{
  display: flex;
  flex-direction: row;
  height: 60vh;
}

.winner-alert{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(89, 140, 150);
  height: 100%;
  width: 30%;
}

.winner-alert span{
  font-size: larger;
  background-color: rgb(89, 140, 150);
}

.board{
  border: 1px solid black;
  height: 100%;
  width: 40%;
}

.info-alert{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(89, 140, 150);
  height: 100%;
  width: 30%;
}

.info-alert span{
  font-size: larger;
  background-color: rgb(89, 140, 150);
}
/* Playing field start*/

/* Playing field end*/
/* Footer start */
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 25vh;
}

#start-btn{
  cursor: pointer;
  height: 50px;
  width: 150px;
  font-size: large;
  border: 0px;
  background-color: rgb(225, 0, 0);
  border-radius: 20px;
}

#start-btn:active{
  background-color: rgba(255, 0, 0,0.9);
}

.user-input{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

input{
  margin-right: 10px;
  margin-left: 10px;
  border: 3px solid black;
  font-size: larger;
}

label{
  font-size: 1.5rem;
}